<body>

<h1>Login</h1>

<div class="container">

  <%= form_tag('/sessions', method: :post, :class => 'form-signin', :role => 'form') do %>
      <div class="field">
        <%= label_tag :email, nil, {:class => 'sr-only', :for => 'inputEmail'} %>
        <%= email_field_tag :email, nil, {:class => 'form-control', :id => 'inputEmail', :placeholder => 'Email address'} %>
      </div>
      <div class="field">
        <%= label_tag :password, nil, {:class => 'sr-only', :for => 'inputPassword'} %>
        <%= password_field_tag :password, nil, {:class => 'form-control', :id => 'inputPassword', :placeholder => 'Password'} %>
      </div>
      <div class="actions">
        <%= submit_tag 'Login', :class => 'btn btn-lg btn-primary btn-block'%>
      </div>
  <% end %>

</div>

</body>