<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p><%= link_to 'Main page', root_path %></p>
  <p><%= link_to 'Registration', users_new_path unless current_user %></p>
  <%= link_to 'Login', sessions_login_path unless current_user %>
  <%= link_to 'Logout', sessions_logout_path if current_user %>

  <%= current_user.name if current_user%>

    <%= yield %>
  </body>
</html>
