<h1><%=@user.name%></h1>
<form action="/users/<%=@user.id%>/delete">
<input type="submit" value="Delete user"/>
</form>
<hr>
<p>Last user post</p>
<% if @posts.length >0 %>
<table>
   <tr>
   <th style ="text-align: left"><%=@posts.last.title%></th>
   </tr>
   <tr>
   <td style="border: 1px solid black"><%=@posts.last.body%></td>
   </tr>
</table>
<a href="/users/<%=@user.id%>/posts/<%=@posts.last.id%>/edit">Edit post</a>
<a href="/users/<%=@user.id%>/posts/<%=@posts.last.id%>/delete">Delete post</a>
<% else %>
<p>This user dont have any post</p>
<%end%>
<hr>
<a href="/users">Users</a>
<br>
<a href="/users/<%=@user.id%>/posts/new">Creat new post</a>
<br>
<% if @posts.length >0 %>
<a href="/users/<%=@user.id%>/posts/show">User posts</>
<%end%>
