<h2>Firsts Name: <%= @user.first_name %></h2>
<h2>Last   Name: <%= @user.last_name %></h2>
<h3><a href="<%= @user.id %>/posts/new">Create Post</a></h3>
<h3><a href="<%= @user.id %>/posts"><%= @user.first_name %> Posts</a></h3>
<br>
<h4><a href="/users">All users</a></h4>
<h4><a href="/posts">All Posts</a></h4>