<h3><%= @user.name %>'s posts:</h3>
<hr />
<a href="/<%= @user.id %>/add_post">Add post</a>
<% @posts.each do |post| %>
    <hr />
    <h7>Title:</h7>
    <br />
    <%= post.title %>
    <br />
    <h7>Post:</h7>
    <br />
    <%= post.content %>
    <br />
    <a href="/<%= post.id %>/edit">Edit post</a>
    <br />
    <a href="/<%= post.id %>/delete">Delete post</a>
<% end %>
    <br />
    <hr />
<a href="/">Back</a>
