<h1>User posts</h1>
<% if @posts.length > 0 %>
<% @posts.each do |element| %>
<table>
   <tr>
   <th style ="text-align: left"><%=element.title%></th>
   </tr>
   <tr>
   <td style="border: 1px solid black"><%=element.body%></td>
   </tr>
</table>
<span style="float: left;">
<form action="/users/<%=element.user_id%>/posts/<%=element.id%>/edit">
<input type="submit" value="Edit">
</form>
</span>
<form action="/users/<%=element.user_id%>/posts/<%=element.id%>" method="post">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Delete">
</form>
<%end%>
<% else %>
<p>This user dont have any post</p>
<%end%>
<br>
<hr>
<a href="/users/<%=@posts.first.user_id%>">User</a>