<%= form_for @post, :html => {:class => 'form-horizontal'} do |f| %>

    <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <br>
    <fieldset>
      <div class="form-group">
        <%= f.label :title , :class => 'col-md-4 control-label', :for => 'textinput' %>
        <div class="col-md-4"><%= f.text_field :title, :placeholder => 'title', :class => 'form-control input-md' %></div>
      </div>

      <div class="form-group">
        <%= f.label :text, :class => 'col-md-4 control-label', :for => 'textarea'%><br>
        <div class="col-md-4"><%= f.text_area :text, :class => 'form-control' %></div>
      </div>

      <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4">
          <div class="actions">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      </div>

    </fieldset>
<% end %>