<div class="container">
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <p id="notice" role="alert"><%= notice %></p>
        <p>
          <strong>Title:</strong>
        <h2 class="blog-post-title"><%= @post.title %></h2>
        </p>

        <p>
          <strong>Body:</strong><br>
          <%= @post.text %>
        </p>

        <p class="blog-post-meta">
          <strong>Created by: </strong><%= @post.user.name %>
        </p>
      </div>
      <% if @post.user.eql?(current_user) %>
          <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-default btn-sm' %>
      <% end %>
      <%= link_to 'Back', posts_path, :class => 'btn btn-default btn-sm' %>

    </div>
  </div>
</div>
